---
interface Props {
  pageId:    string;
  pageTitle: string;
  pageUrl:   string;
}
---

<section class="mt-16 pt-8 border-t border-brand-border-light dark:border-brand-border-dark not-prose">
  <h2 class="font-lora text-xl font-semibold text-brand-text-light dark:text-brand-text-dark mb-6">
    Komentar
  </h2>

  <script src="https://giscus.app/client.js"
    data-repo="prmanaa/writing-website"
    data-repo-id="R_kgDOSS2scw"
    data-category="Announcements"
    data-category-id="DIC_kwDOSS2sc84C8UKM"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="catppuccin_mocha"
    data-lang="id"
    crossorigin="anonymous"
    async>
  </script>
</section>
